@import "../App.scss";

.numbers {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $main-color;
    border-radius: 50%;
    color: $white-color;
  }
}